* {
    box-sizing: border-box;
}

body {
    font-family: 'arial', sans-serif;
    background: #eee;
}

h1 {
    border-bottom: 1px solid #333;
    font-weight: normal;
    margin-top: 0;
    position: relative;
}

div#wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

div#left {
    float: left;
    width: 60%;
}

div#right {
    float: right;
    width: 30%;
}

div#tests {
    overflow: hidden;
}

.testh {
    margin: 0;
    padding-left: 8px;
    font-size: 18px;
    font-weight: normal;
    color: #eee;
    background: #666;
    position: relative;
    height: 25px;
    line-height: 25px;
    text-shadow: 0px 1px black;
}

div#snippet {
}

/*.test {
    position: relative;
    margin-top: 4px;
}*/

.testlist {
    background-color: white;
    /*padding-top: 4px;*/
    /*padding-bottom: 16px;*/
}

.testgrade {
    /*float: right;*/
    position: absolute;
    right: 0;
}

.testgrade:before {
    content: "[";
}

.testgrade:after {
    content: "%]";
}

.testgrade-bad {
    color: #E6532E;
}

.testgrade-okay {
    color: #FF7519
}

.testgrade-good {
    color: #009933;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#test-snippet-value {
    position: absolute;
    left: 75%;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#whitelist {
    
}

.test {
    list-style-type: none;
}

.test:nth-child(odd) {
    /*margin-top: 4px;*/
    background-color: #eee;
}

.test.first {
    margin-top: 0;
}

.test-key {
    font-family: Consolas, monospace;
    font-weight: bold;
    color: #333;
}

.test-value {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

.test-value-pass {
    background-color: #009933;
}

.test-value-fail {
    background-color: #E6532E;
}

.test-value-loading {
    background-color: #999;
}


